# Created by .ignore support plugin (hsz.mobi)
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pem
# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

Lib/site-packages/Cryptodome/Cipher/__pycache__/
Lib/site-packages/Cryptodome/Hash/__pycache__/
Lib/site-packages/Cryptodome/IO/__pycache__/
Lib/site-packages/Cryptodome/Math/__pycache__/
Lib/site-packages/Cryptodome/Protocol/__pycache__/
Lib/site-packages/Cryptodome/PublicKey/__pycache__/
Lib/site-packages/Cryptodome/Random/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/Cipher/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/Hash/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/IO/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/Math/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/Protocol/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/PublicKey/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/Random/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/Signature/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/Util/__pycache__/
Lib/site-packages/Cryptodome/SelfTest/__pycache__/
Lib/site-packages/Cryptodome/Signature/__pycache__/
Lib/site-packages/Cryptodome/Util/__pycache__/
Lib/site-packages/Cryptodome/__pycache__/
Lib/site-packages/MySQLdb/__pycache__/
Lib/site-packages/MySQLdb/constants/__pycache__/
Lib/site-packages/OpenSSL/__pycache__/
Lib/site-packages/PIL/__pycache__/
Lib/site-packages/__pycache__/
Lib/site-packages/alipay/__pycache__/
Lib/site-packages/amqp/__pycache__/
Lib/site-packages/asgiref/__pycache__/
Lib/site-packages/billiard/__pycache__/
Lib/site-packages/billiard/dummy/__pycache__/
Lib/site-packages/celery/__pycache__/
Lib/site-packages/celery/app/__pycache__/
Lib/site-packages/celery/apps/__pycache__/
Lib/site-packages/celery/backends/__pycache__/
Lib/site-packages/celery/backends/database/__pycache__/
Lib/site-packages/celery/bin/__pycache__/
Lib/site-packages/celery/concurrency/__pycache__/
Lib/site-packages/celery/contrib/__pycache__/
Lib/site-packages/celery/contrib/testing/__pycache__/
Lib/site-packages/celery/events/__pycache__/
Lib/site-packages/celery/fixups/__pycache__/
Lib/site-packages/celery/loaders/__pycache__/
Lib/site-packages/celery/security/__pycache__/
Lib/site-packages/celery/task/__pycache__/
Lib/site-packages/celery/utils/__pycache__/
Lib/site-packages/celery/utils/dispatch/__pycache__/
Lib/site-packages/celery/utils/static/__pycache__/
Lib/site-packages/celery/worker/__pycache__/
Lib/site-packages/celery/worker/consumer/__pycache__/
Lib/site-packages/certifi/__pycache__/
Lib/site-packages/cffi/__pycache__/
Lib/site-packages/chardet/__pycache__/
Lib/site-packages/chardet/cli/__pycache__/
Lib/site-packages/construct/__pycache__/
Lib/site-packages/construct/formats/__pycache__/
Lib/site-packages/construct/formats/data/__pycache__/
Lib/site-packages/construct/formats/executable/__pycache__/
Lib/site-packages/construct/formats/filesystem/__pycache__/
Lib/site-packages/construct/formats/graphics/__pycache__/
Lib/site-packages/construct/lib/__pycache__/
Lib/site-packages/construct/protocols/__pycache__/
Lib/site-packages/construct/protocols/application/__pycache__/
Lib/site-packages/construct/protocols/layer2/__pycache__/
Lib/site-packages/construct/protocols/layer3/__pycache__/
Lib/site-packages/construct/protocols/layer4/__pycache__/
Lib/site-packages/cryptography/__pycache__/
Lib/site-packages/cryptography/hazmat/__pycache__/
Lib/site-packages/cryptography/hazmat/backends/__pycache__/
Lib/site-packages/cryptography/hazmat/backends/openssl/__pycache__/
Lib/site-packages/cryptography/hazmat/bindings/__pycache__/
Lib/site-packages/cryptography/hazmat/bindings/openssl/__pycache__/
Lib/site-packages/cryptography/hazmat/primitives/__pycache__/
Lib/site-packages/cryptography/hazmat/primitives/asymmetric/__pycache__/
Lib/site-packages/cryptography/hazmat/primitives/ciphers/__pycache__/
Lib/site-packages/cryptography/hazmat/primitives/kdf/__pycache__/
Lib/site-packages/cryptography/hazmat/primitives/serialization/__pycache__/
Lib/site-packages/cryptography/hazmat/primitives/twofactor/__pycache__/
Lib/site-packages/cryptography/x509/__pycache__/
Lib/site-packages/django/__pycache__/
Lib/site-packages/django/apps/__pycache__/
Lib/site-packages/django/bin/__pycache__/
Lib/site-packages/django/conf/__pycache__/
Lib/site-packages/django/conf/locale/__pycache__/
Lib/site-packages/django/conf/locale/ar/__pycache__/
Lib/site-packages/django/conf/locale/az/__pycache__/
Lib/site-packages/django/conf/locale/bg/__pycache__/
Lib/site-packages/django/conf/locale/bn/__pycache__/
Lib/site-packages/django/conf/locale/bs/__pycache__/
Lib/site-packages/django/conf/locale/ca/__pycache__/
Lib/site-packages/django/conf/locale/cs/__pycache__/
Lib/site-packages/django/conf/locale/cy/__pycache__/
Lib/site-packages/django/conf/locale/da/__pycache__/
Lib/site-packages/django/conf/locale/de/__pycache__/
Lib/site-packages/django/conf/locale/de_CH/__pycache__/
Lib/site-packages/django/conf/locale/el/__pycache__/
Lib/site-packages/django/conf/locale/en/__pycache__/
Lib/site-packages/django/conf/locale/en_AU/__pycache__/
Lib/site-packages/django/conf/locale/en_GB/__pycache__/
Lib/site-packages/django/conf/locale/eo/__pycache__/
Lib/site-packages/django/conf/locale/es/__pycache__/
Lib/site-packages/django/conf/locale/es_AR/__pycache__/
Lib/site-packages/django/conf/locale/es_CO/__pycache__/
Lib/site-packages/django/conf/locale/es_MX/__pycache__/
Lib/site-packages/django/conf/locale/es_NI/__pycache__/
Lib/site-packages/django/conf/locale/es_PR/__pycache__/
Lib/site-packages/django/conf/locale/et/__pycache__/
Lib/site-packages/django/conf/locale/eu/__pycache__/
Lib/site-packages/django/conf/locale/fa/__pycache__/
Lib/site-packages/django/conf/locale/fi/__pycache__/
Lib/site-packages/django/conf/locale/fr/__pycache__/
Lib/site-packages/django/conf/locale/fy/__pycache__/
Lib/site-packages/django/conf/locale/ga/__pycache__/
Lib/site-packages/django/conf/locale/gd/__pycache__/
Lib/site-packages/django/conf/locale/gl/__pycache__/
Lib/site-packages/django/conf/locale/he/__pycache__/
Lib/site-packages/django/conf/locale/hi/__pycache__/
Lib/site-packages/django/conf/locale/hr/__pycache__/
Lib/site-packages/django/conf/locale/hu/__pycache__/
Lib/site-packages/django/conf/locale/id/__pycache__/
Lib/site-packages/django/conf/locale/is/__pycache__/
Lib/site-packages/django/conf/locale/it/__pycache__/
Lib/site-packages/django/conf/locale/ja/__pycache__/
Lib/site-packages/django/conf/locale/ka/__pycache__/
Lib/site-packages/django/conf/locale/km/__pycache__/
Lib/site-packages/django/conf/locale/kn/__pycache__/
Lib/site-packages/django/conf/locale/ko/__pycache__/
Lib/site-packages/django/conf/locale/lt/__pycache__/
Wou
ld remove Lib/site-packages/django/conf/locale/lv/__pycache__/
Lib/site-packages/django/conf/locale/mk/__pycache__/
Lib/site-packages/django/conf/locale/ml/__pycache__/
Lib/site-packages/django/conf/locale/mn/__pycache__/
Lib/site-packages/django/conf/locale/nb/__pycache__/
Lib/site-packages/django/conf/locale/nl/__pycache__/
Lib/site-packages/django/conf/locale/nn/__pycache__/
Lib/site-packages/django/conf/locale/pl/__pycache__/
Lib/site-packages/django/conf/locale/pt/__pycache__/
Lib/site-packages/django/conf/locale/pt_BR/__pycache__/
Lib/site-packages/django/conf/locale/ro/__pycache__/
Lib/site-packages/django/conf/locale/ru/__pycache__/
Lib/site-packages/django/conf/locale/sk/__pycache__/
Lib/site-packages/django/conf/locale/sl/__pycache__/
Lib/site-packages/django/conf/locale/sq/__pycache__/
Lib/site-packages/django/conf/locale/sr/__pycache__/
Lib/site-packages/django/conf/locale/sr_Latn/__pycache__/
Lib/site-packages/django/conf/locale/sv/__pycache__/
Lib/site-packages/django/conf/locale/ta/__pycache__/
Lib/site-packages/django/conf/locale/te/__pycache__/
Lib/site-packages/django/conf/locale/th/__pycache__/
Lib/site-packages/django/conf/locale/tr/__pycache__/
Lib/site-packages/django/conf/locale/uk/__pycache__/
Lib/site-packages/django/conf/locale/uz/__pycache__/
Lib/site-packages/django/conf/locale/vi/__pycache__/
Lib/site-packages/django/conf/locale/zh_Hans/__pycache__/
Lib/site-packages/django/conf/locale/zh_Hant/__pycache__/
Lib/site-packages/django/conf/urls/__pycache__/
Lib/site-packages/django/contrib/__pycache__/
Lib/site-packages/django/contrib/admin/__pycache__/
Lib/site-packages/django/contrib/admin/migrations/__pycache__/
Lib/site-packages/django/contrib/admin/templatetags/__pycache__/
Lib/site-packages/django/contrib/admin/views/__pycache__/
Lib/site-packages/django/contrib/admindocs/__pycache__/
Lib/site-packages/django/contrib/auth/__pycache__/
Lib/site-packages/django/contrib/auth/handlers/__pycache__/
Lib/site-packages/django/contrib/auth/management/__pycache__/
Lib/site-packages/django/contrib/auth/management/commands/__pycache__/
Lib/site-packages/django/contrib/auth/migrations/__pycache__/
Lib/site-packages/django/contrib/contenttypes/__pycache__/
Lib/site-packages/django/contrib/contenttypes/management/__pycache__/
Lib/site-packages/django/contrib/contenttypes/management/commands/__pycache__/
Lib/site-packages/django/contrib/contenttypes/migrations/__pycache__/
Lib/site-packages/django/contrib/flatpages/__pycache__/
Lib/site-packages/django/contrib/flatpages/migrations/__pycache__/
Lib/site-packages/django/contrib/flatpages/templatetags/__pycache__/
Lib/site-packages/django/contrib/gis/__pycache__/
Lib/site-packages/django/contrib/gis/admin/__pycache__/
Lib/site-packages/django/contrib/gis/db/__pycache__/
Lib/site-packages/django/contrib/gis/db/backends/__pycache__/
Lib/site-packages/django/contrib/gis/db/backends/base/__pycache__/
Lib/site-packages/django/contrib/gis/db/backends/mysql/__pycache__/
Lib/site-packages/django/contrib/gis/db/backends/oracle/__pycache__/
Lib/site-packages/django/contrib/gis/db/backends/postgis/__pycache__/
Lib/site-packages/django/contrib/gis/db/backends/spatialite/__pycache__/
Lib/site-packages/django/contrib/gis/db/models/__pycache__/
Lib/site-packages/django/contrib/gis/db/models/sql/__pycache__/
Lib/site-packages/django/contrib/gis/forms/__pycache__/
Lib/site-packages/django/contrib/gis/gdal/__pycache__/
Lib/site-packages/django/contrib/gis/gdal/prototypes/__pycache__/
Lib/site-packages/django/contrib/gis/gdal/raster/__pycache__/
Lib/site-packages/django/contrib/gis/geoip2/__pycache__/
Lib/site-packages/django/contrib/gis/geos/__pycache__/
Lib/site-packages/django/contrib/gis/geos/prototypes/__pycache__/
Lib/site-packages/django/contrib/gis/management/commands/__pycache__/
Lib/site-packages/django/contrib/gis/serializers/__pycache__/
Lib/site-packages/django/contrib/gis/sitemaps/__pycache__/
Lib/site-packages/django/contrib/gis/utils/__pycache__/
Lib/site-packages/django/contrib/humanize/__pycache__/
Lib/site-packages/django/contrib/humanize/templatetags/__pycache__/
Lib/site-packages/django/contrib/messages/__pycache__/
Lib/site-packages/django/contrib/messages/storage/__pycache__/
Lib/site-packages/django/contrib/postgres/__pycache__/
Lib/site-packages/django/contrib/postgres/aggregates/__pycache__/
Lib/site-packages/django/contrib/postgres/fields/__pycache__/
Lib/site-packages/django/contrib/postgres/forms/__pycache__/
Lib/site-packages/django/contrib/redirects/__pycache__/
Lib/site-packages/django/contrib/redirects/migrations/__pycache__/
Lib/site-packages/django/contrib/sessions/__pycache__/
Lib/site-packages/django/contrib/sessions/backends/__pycache__/
Lib/site-packages/django/contrib/sessions/management/commands/__pycache__/
Lib/site-packages/django/contrib/sessions/migrations/__pycache__/
Lib/site-packages/django/contrib/sitemaps/__pycache__/
Lib/site-packages/django/contrib/sitemaps/management/commands/__pycache__/
Lib/site-packages/django/contrib/sites/__pycache__/
Lib/site-packages/django/contrib/sites/migrations/__pycache__/
Lib/site-packages/django/contrib/staticfiles/__pycache__/
Lib/site-packages/django/contrib/staticfiles/management/commands/__pycache__/
Lib/site-packages/django/contrib/syndication/__pycache__/
Lib/site-packages/django/core/__pycache__/
Lib/site-packages/django/core/cache/__pycache__/
Lib/site-packages/django/core/cache/backends/__pycache__/
Lib/site-packages/django/core/checks/__pycache__/
Lib/site-packages/django/core/checks/compatibility/__pycache__/
Lib/site-packages/django/core/checks/security/__pycache__/
Lib/site-packages/django/core/files/__pycache__/
Lib/site-packages/django/core/handlers/__pycache__/
Lib/site-packages/django/core/mail/__pycache__/
Lib/site-packages/django/core/mail/backends/__pycache__/
Lib/site-packages/django/core/management/__pycache__/
Lib/site-packages/django/core/management/commands/__pycache__/
Lib/site-packages/django/core/serializers/__pycache__/
Lib/site-packages/django/core/servers/__pycache__/
Lib/site-packages/django/db/__pycache__/
Lib/site-packages/django/db/backends/__pycache__/
Lib/site-packages/django/db/backends/base/__pycache__/
Lib/site-packages/django/db/backends/dummy/__pycache__/
Lib/site-packages/django/db/backends/mysql/__pycache__/
Lib/site-packages/django/db/backends/oracle/__pycache__/
Lib/site-packages/django/db/backends/postgresql/__pycache__/
Lib/site-packages/django/db/backends/sqlite3/__pycache__/
Lib/site-packages/django/db/migrations/__pycache__/
Lib/site-packages/django/db/migrations/operations/__pycache__/
Lib/site-packages/django/db/models/__pycache__/
Lib/site-packages/django/db/models/fields/__pycache__/
Lib/sit
e-packages/django/db/models/functions/__pycache__/
Lib/site-packages/django/db/models/sql/__pycache__/
Lib/site-packages/django/dispatch/__pycache__/
Lib/site-packages/django/forms/__pycache__/
Lib/site-packages/django/http/__pycache__/
Lib/site-packages/django/middleware/__pycache__/
Lib/site-packages/django/template/__pycache__/
Lib/site-packages/django/template/backends/__pycache__/
Lib/site-packages/django/template/loaders/__pycache__/
Lib/site-packages/django/templatetags/__pycache__/
Lib/site-packages/django/test/__pycache__/
Lib/site-packages/django/urls/__pycache__/
Lib/site-packages/django/utils/__pycache__/
Lib/site-packages/django/utils/translation/__pycache__/
Lib/site-packages/django/views/__pycache__/
Lib/site-packages/django/views/decorators/__pycache__/
Lib/site-packages/django/views/generic/__pycache__/
Lib/site-packages/django_redis/__pycache__/
Lib/site-packages/django_redis/client/__pycache__/
Lib/site-packages/django_redis/compressors/__pycache__/
Lib/site-packages/django_redis/serializers/__pycache__/
Lib/site-packages/dns/__pycache__/
Lib/site-packages/dns/rdtypes/ANY/__pycache__/
Lib/site-packages/dns/rdtypes/CH/__pycache__/
Lib/site-packages/dns/rdtypes/IN/__pycache__/
Lib/site-packages/dns/rdtypes/__pycache__/
Lib/site-packages/eventlet/__pycache__/
Lib/site-packages/eventlet/green/OpenSSL/__pycache__/
Lib/site-packages/eventlet/green/__pycache__/
Lib/site-packages/eventlet/green/http/__pycache__/
Lib/site-packages/eventlet/green/urllib/__pycache__/
Lib/site-packages/eventlet/greenio/__pycache__/
Lib/site-packages/eventlet/hubs/__pycache__/
Lib/site-packages/eventlet/support/__pycache__/
Lib/site-packages/eventlet/zipkin/__pycache__/
Lib/site-packages/eventlet/zipkin/_thrift/__pycache__/
Lib/site-packages/eventlet/zipkin/_thrift/zipkinCore/__pycache__/
Lib/site-packages/fdfs_client/__pycache__/
Lib/site-packages/future/__pycache__/
Lib/site-packages/future/backports/__pycache__/
Lib/site-packages/future/backports/email/__pycache__/
Lib/site-packages/future/backports/email/mime/__pycache__/
Lib/site-packages/future/backports/html/__pycache__/
Lib/site-packages/future/backports/http/__pycache__/
Lib/site-packages/future/backports/test/__pycache__/
Lib/site-packages/future/backports/urllib/__pycache__/
Lib/site-packages/future/backports/xmlrpc/__pycache__/
Lib/site-packages/future/builtins/__pycache__/
Lib/site-packages/future/moves/__pycache__/
Lib/site-packages/future/moves/dbm/__pycache__/
Lib/site-packages/future/moves/html/__pycache__/
Lib/site-packages/future/moves/http/__pycache__/
Lib/site-packages/future/moves/test/__pycache__/
Lib/site-packages/future/moves/tkinter/__pycache__/
Lib/site-packages/future/moves/urllib/__pycache__/
Lib/site-packages/future/moves/xmlrpc/__pycache__/
Lib/site-packages/future/standard_library/__pycache__/
Lib/site-packages/future/tests/__pycache__/
Lib/site-packages/future/types/__pycache__/
Lib/site-packages/future/utils/__pycache__/
Lib/site-packages/haystack/__pycache__/
Lib/site-packages/haystack/backends/__pycache__/
Lib/site-packages/haystack/management/__pycache__/
Lib/site-packages/haystack/management/commands/__pycache__/
Lib/site-packages/haystack/templatetags/__pycache__/
Lib/site-packages/haystack/utils/__pycache__/
Would
remove Lib/site-packages/idna/__pycache__/
Lib/site-packages/importlib_metadata/__pycache__/
Lib/site-packages/importlib_metadata/docs/__pycache__/
Lib/site-packages/importlib_metadata/tests/__pycache__/
Lib/site-packages/importlib_metadata/tests/data/__pycache__/
Lib/site-packages/itsdangerous/__pycache__/
Lib/site-packages/jieba/__pycache__/
Lib/site-packages/jieba/analyse/__pycache__/
Lib/site-packages/jieba/finalseg/__pycache__/
Lib/site-packages/jieba/lac_small/__pycache__/
Lib/site-packages/jieba/posseg/__pycache__/
Lib/site-packages/kombu/__pycache__/
Lib/site-packages/kombu/asynchronous/__pycache__/
Lib/site-packages/kombu/asynchronous/aws/__pycache__/
Lib/site-packages/kombu/asynchronous/aws/sqs/__pycache__/
Lib/site-packages/kombu/asynchronous/http/__pycache__/
Lib/site-packages/kombu/transport/__pycache__/
Lib/site-packages/kombu/transport/sqlalchemy/__pycache__/
Lib/site-packages/kombu/transport/virtual/__pycache__/
Lib/site-packages/kombu/utils/__pycache__/
Lib/site-packages/libfuturize/__pycache__/
Lib/site-packages/libfuturize/fixes/__pycache__/
Lib/site-packages/libpasteurize/__pycache__/
Lib/site-packages/libpasteurize/fixes/__pycache__/
Lib/site-packages/mutagen/__pycache__/
Lib/site-packages/mutagen/_senf/__pycache__/
Lib/site-packages/mutagen/_tools/__pycache__/
Lib/site-packages/mutagen/asf/__pycache__/
Lib/site-packages/mutagen/id3/__pycache__/
Lib/site-packages/mutagen/mp3/__pycache__/
Lib/site-packages/mutagen/mp4/__pycache__/
Lib/site-packages/ordlookup/__pycache__/
Lib/site-packages/past/__pycache__/
Lib/site-packages/past/builtins/__pycache__/
Lib/site-packages/past/translation/__pycache__/
Lib/site-packages/past/types/__pycache__/
Lib/site-packages/past/utils/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/cli/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/commands/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/models/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/operations/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/req/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/utils/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/vcs/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/cachecontrol/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/cachecontrol/caches/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/certifi/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/chardet/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/colorama/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/_trie/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/treebuilders/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/treewalkers/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/idna/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/lockfile/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/msgpack/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/packaging/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pep517/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pkg_resources/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/progress/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pytoml/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/requests/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/contrib/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/packages/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/util/__pycache__/
Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/webencodings/__pycache__/
Lib/site-packages/ptrace/__pycache__/
Lib/site-packages/ptrace/binding/__pycache__/
Lib/site-packages/ptrace/debugger/__pycache__/
Lib/site-packages/ptrace/syscall/__pycache__/
Lib/site-packages/pycparser/__pycache__/
Lib/site-packages/pycparser/ply/__pycache__/
Lib/site-packages/pymysql/__pycache__/
Lib/site-packages/pymysql/constants/__pycache__/
Lib/site-packages/pytz/__pycache__/
Lib/site-packages/redis/__pycache__/
Lib/site-packages/requests/__pycache__/
Lib/site-packages/sqlparse/__pycache__/
Lib/site-packages/sqlparse/engine/__pycache__/
Lib/site-packages/sqlparse/filters/__pycache__/
Lib/site-packages/testtinymce/__pycache__/
Lib/site-packages/testtinymce/testapp/__pycache__/
Lib/site-packages/tinymce/__pycache__/
Lib/site-packages/tinymce/tests/__pycache__/
Lib/site-packages/urllib3/__pycache__/
Lib/site-packages/urllib3/contrib/__pycache__/
Lib/site-packages/urllib3/contrib/_securetransport/__pycache__/
Lib/site-packages/urllib3/packages/__pycache__/
Lib/site-packages/urllib3/packages/backports/__pycache__/
Lib/site-packages/urllib3/packages/ssl_match_hostname/__pycache__/
Lib/site-packages/urllib3/util/__pycache__/
Lib/site-packages/vine/__pycache__/
Lib/site-packages/vine/backports/__pycache__/
Lib/site-packages/whoosh/__pycache__/
Lib/site-packages/whoosh/analysis/__pycache__/
Lib/site-packages/whoosh/automata/__pycache__/
Lib/site-packages/whoosh/codec/__pycache__/
Lib/site-packages/whoosh/filedb/__pycache__/
Lib/site-packages/whoosh/lang/__pycache__/
Lib/site-packages/whoosh/lang/snowball/__pycache__/
Lib/site-packages/whoosh/matching/__pycache__/
Lib/site-packages/whoosh/qparser/__pycache__/
Lib/site-packages/whoosh/query/__pycache__/
Lib/site-packages/whoosh/support/__pycache__/
Lib/site-packages/whoosh/util/__pycache__/
Scripts/__pycache__/
apps/cart/__pycache__/
apps/cart/migrations/__pycache__/
apps/goods/__pycache__/
apps/goods/migrations/__pycache__/
apps/order/__pycache__/
apps/order/migrations/__pycache__/
apps/user/__pycache__/
apps/user/migrations/__pycache__/
celery_tasks/__pycache__/
dailyfresh/__pycache__/
db/__pycache__/
utils/__pycache__/
utils/fdfs/__pycache__/
