<!DOCTYPE html>
<html lang="ch-ZN">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>修改密码</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="login_top clearfix">
		<a href="index.html" class="login_logo"><img src="/static/images/logo02.png"></a>
	</div>


<div class="form">
<div class="content">
     <div id="username" class="float-left">输入用户名</div>
    <input type="text">
</div>
</div>

	<div class="footer" style="border-top:0">
		<div class="foot_link">
			<a href="#">关于我们</a>
			<span>|</span>
			<a href="#">联系我们</a>
			<span>|</span>
			<a href="#">招聘人才</a>
			<span>|</span>
			<a href="#">友情链接</a>
		</div>		<p>BY CY</p>
		<p>For Learn Django</p>
	</div>
</body>
<style type="text/css">
    .form{
        height: 300px;
        border: yellow solid 1px;
        text-align: center;
        background-color: green;
        display: block;
    }
    #username{
        font-size: 20px!important;
        color: black;
        padding-bottom: 10px;
    }

</style>
</html>