{% extends 'base_user_center.html' %}
{% block right_content %}
{% load static %}
{% csrf_token %}
<div class="right_content clearfix">
				<h3 class="common_title2">收货地址</h3>
                {{ errmsg }}
				<div class="site_con">
					<dl>
						<dt>当前地址：</dt>
                       <dd>地址：{{ default_address.addr }}收件人：{{ default_address.receiver }}手机号{{ default_address.phone }}</dd>
                        <dt>更换地址：</dt>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        {% if default_address %}
                            <select id="select" style="height: 20px;overflow: auto">
                                {% for i in address %}
                                <option value ="{{ i.id }}">地址：{{ i.addr }}收件人：{{ i.receiver }}手机号{{ i.phone }}</option>
                                {% endfor %}
                            </select>
                            <input id="change_address" type="submit" value="确定更换" style="height: 20px;font-size: 13px;line-height: 13px">
                            <input id="delete_address" type="submit" value="删除地址" style="height: 20px;font-size: 13px;line-height: 13px">
                        {% else %}
                        <dd>无默认地址</dd>
                        {% endif %}
					</dl>
				</div>
				<h3 class="common_title2">编辑地址</h3>
				<div class="site_con">
					<form method="post">
                        {% csrf_token %}
						<div class="form_group">
							<label>收件人：</label>
							<input type="text" name="receiver">
						</div>
						<div class="form_group form_group2">
							<label>详细地址：</label>
							<textarea class="site_area" name="addr"></textarea>
						</div>
						<div class="form_group">
							<label>邮编：</label>
							<input type="text" name="zip_code">
						</div>
						<div class="form_group">
							<label>手机：</label>
							<input type="text" name="phone">
						</div>

						<input type="submit" name="" value="提交" class="info_submit">
					</form>
				</div>
		</div>
{% endblock %}
{% block bottomfiles %}
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script>
    $("#change_address").click(function () {
        new_address_value = $("#select option:selected").attr("value");
        is_delete= false;
        csrf = $('input[name="csrfmiddlewaretoken"]').val();
        params={
            "new_address_value":new_address_value,
            'csrfmiddlewaretoken':csrf,
            "is_delete":is_delete,
        }
        $.post('/user/change_address/',params, function (data) {

            if (data.res==3)
            {
                alert('修改成功');
                location.reload()
            }
                    })
    })
    $("#delete_address").click(function () {
        new_address_value = $("#select option:selected").attr("value");
        is_delete= true;
        csrf = $('input[name="csrfmiddlewaretoken"]').val();
        params={
            "new_address_value":new_address_value,
            'csrfmiddlewaretoken':csrf,
            "is_delete":is_delete,
        }
        $.post('/user/change_address/',params, function (data) {

            if (data.res==3)
            {
                alert('删除成功');
                location.reload()
            }
                    })
    })

    </script>
{% endblock %}