{% extends 'base_user_center.html' %}
{% block right_content %}

		<div class="right_content clearfix">
            <div class="info_con clearfix">
				<h3 class="common_title2">头像</h3>
                <img src="http://192.168.80.132:8888/{{ user.image }}" alt="" style="height: 300px;width: 200px">
{#                <form action="" method="post" enctype="multipart/form-data">#}
{#                            <p><input type="file" name="upload" value="选择图片"></p>#}
{#                            <p><input type="submit" value="submit"></p>#}
{#                </form>#}
            </div>
				<div class="info_con clearfix">
				<h3 class="common_title2">基本信息</h3>
						<ul class="user_info_list">
							<li><span>用户名：</span>{{ user.username }}</li>
                            {% if address %}
							<li><span>联系方式：</span>{{ address.phone}}</li>
                            <li><span>联系地址：</span>{{ address.addr }}</li>
                            {% else %}
                            <li><span>联系方式：</span>无默认</li>
							<li><span>联系地址：</span>无默认</li>
                            {% endif %}
						</ul>
				</div>

				<h3 class="common_title2">最近浏览</h3>
				<div class="has_view_list">
					<ul class="goods_type_list clearfix">
                    {% for goods in goods_li %}
                <li>
					<a href="{% url 'goods:detail' goods.id %}"><img src="{{ goods.image.url }}"></a>
					<h4><a href="{% url 'goods:detail' goods.id %}">{{ goods.name }}</a></h4>
					<div class="operate">
						<span class="prize">{{ goods.price }}</span>
						<span class="unit">{{ goods.price }}/{{ good.unite }}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                        {% empty %}
                        无历史游览记录
                        {% endfor %}
			</ul>
		</div>
		</div>
	</div>
{% endblock %}
