{% extends 'base_detail_list.html' %}
	{% block title %}
        天天生鲜-商品列表
{% endblock %}
{% load  static %}
{% block main_content %}



{% csrf_token %}
	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/list/{{ type.id }}/1">{{ type.name }}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
                    {% for sku in new_skus %}
					<li>
						<a href="{% url 'goods:detail' sku.id %}"><img src="{{ sku.image.url }}"></a>
						<h4><a href="#">{{ sku.name }}</a></h4>
						<div class="prize">{{ sku.price }}</div>
					</li>
                    {% endfor %}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="{% url 'goods:list' type.id 1 %}" {% if sort == 'default' %} class="active" {% endif %}>默认</a>
				<a href="{% url 'goods:list' type.id 1 %}?sort=price" {% if sort == 'price' %} class="active" {% endif %}>价格</a>
				<a href="{% url 'goods:list' type.id 1 %}?sort=hot" {% if sort == 'hot' %} class="active" {% endif %}>人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%   for sku in skus_page %}
                <li>
					<a href="{% url 'goods:detail' sku.id %}"><img src="{{sku.image.url}}"></a>
					<h4><a href="{% url 'goods:detail' sku.id %}">{{ sku.name }}</a></h4>
					<div class="operate">
						<span class="prize">￥{{ sku.price }}</span>
						<span class="unit">{{ sku.unite }}</span>
						<a href="javascript:;" value="{{ sku.id }}" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
                {% endfor %}
			</ul>

			<div class="pagenation">
                {% if skus_page.has_previous %}
				<a href="{% url "goods:list" type.id skus_page.previous_page_number %}?sort={{ sort }}">&lt;上一页</a>
                {% endif %}
            {% for pindex in pages %}
				{% if pindex == skus_page.number %}
                <a href="{% url "goods:list" type.id pindex %}?sort={{ sort }}" class="active">{{ pindex }}</a>
                {% else %}
                    <a href="{% url "goods:list" type.id pindex %}?sort={{ sort }}">{{ pindex }}</a>
                {% endif %}
            {% endfor %}
            {% if skus_page.has_next %}
				<a href="{% url "goods:list" type.id skus_page.next_page_number %}?sort={{ sort }}">下一页></a>
            {% endif %}
			</div>
		</div>
	</div>
{% endblock %}

{% block bottomfiles %}
    <div class="add_jump"></div>
    <script src="{% static 'js/jquery-1.12.4.min.js' %}"></script>
    <script type="text/javascript">
            //下面四句是获取坐标
		var $add_x = $('.add_goods').offset().top;
		var $add_y = $('.add_goods').offset().left;

		var $to_x = $('#show_count').offset().top;
		var $to_y = $('#show_count').offset().left;
		$('.add_goods').click(function(){
		    // 获取商品id和数量
            count = 1;
            sku_id = $(this).attr('value');
            csrf =$('input[name="csrfmiddlewaretoken"]').val()

            // 发起ajax请求 访问/cart/add/
            params={"sku_id":sku_id, 'count':count, 'csrfmiddlewaretoken':csrf}

            $.post('/cart/add/', params, function (data) {
                if(data.res==5)
                {   //添加成功
                //$('#show_count').html(data.total_count);
                    //设置动画的样式
                    $(".add_jump").css({'left':$add_y+80,'top':$add_x+10,'display':'block'})
                    $(".add_jump").stop().animate({
				'left': $to_y+7,
				'top': $to_x+7},
				"fast", function() {
					$(".add_jump").fadeOut('fast',function(){
					    //重新设置购物车的数目
						$('#show_count').html(data.total_count);
					});

			});
                }
                else{
                    alert(data.errmsg)
                }
            })


		})
    </script>
{% endblock %}

	
